{% extends 'main_user_panel.html' %}


{% load humanize %}

{% block title %}
صفحه ی اصلی
{% endblock title %}


{% load render_partial %}

{% block content_dashboard %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">تغیر رمزعبور</h1>

    </div>


    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary mt-4">تغیر رمز</button>
        </form>
    </div>





</main>

{% endblock content_dashboard %}