{% extends 'index.html' %}



{% block title %}
    صفحه ی درباره ما
{% endblock title %}
    


{% block content %}


    <div style="margin-top:200px; margin-bottom:206px;">
        <div class="container about_us_style">
            <h1 class="mb-3">درباره فروشگاه</h1>

            <p>
                فروشگاه آنلاین "فرش مارکت"، یکی از برترین و پرطرفدارترین فروشگاه‌های آنلاین در زمینه خرید محصولات خواربار و سوپرمارکتی است.

ما در "فرش مارکت" با ارائه مجموعه‌ای گسترده از محصولات تازه و با کیفیت، به ارمغان آوردن تجربه‌ی خرید آسان، سریع و مطمئن برای مشتریان عزیز خود کوشش می‌کنیم.

تیم متخصص و متعهد "فرش مارکت" با دانش فنی و تجربه‌ی قوی در زمینه فروش آنلاین، بهره‌برداری از سامانه‌های پیشرفته و رعایت استانداردهای بهداشتی،
همواره به تامین محصولات تازه و با کیفیت برای مشتریان خود افتخار می‌کند.

"فرش مارکت" برای راحتی و رضایت کامل مشتریان خود، امکاناتی نظیر انتخاب آنلاین محصولات، سبد خرید آسان، پرداخت امن و تحویل سریع را فراهم کرده است.

با مجموعه‌ای گسترده از محصولات تازه، از جمله انواع میوه‌ها، سبزیجات، گوشت و مرغ، محصولات لبنی، محصولات آرایشی بهداشتی و بسیاری از نیازهای خانواده،
"فرش مارکت" به عنوان یک مرجع برای خرید آنلاین سوپرمارکتی برای خانواده‌های ایرانی شناخته می‌شود.

ما در "فرش مارکت" افتخار داریم که به عنوان یک فروشگاه آنلاین برای خرید آسان و مطمئن محصولات خواربار، انتخاب اول مشتریان عزیز خود باشیم. همچنین،
به مراعات ارزش‌های اخلاقی و اجتماعی، به خصوص در زمینه‌هایی مانند حفظ محیط زیست، حمایت از کشاورزان محلی و حفظ حقوق مصرف‌کنندگان نیز تمرکز داریم.
            </p>
        </div>
    </div>


{% endblock content %}