{% extends 'index.html' %}



{% block title %}
    صفحه ی درباره ما
{% endblock title %}
    


{% block content %}


    <div style="margin-top:200px; margin-bottom:206px;">
        <div class="container about_us_style">
            <h1 class="mb-3">با ما در ارتباط باشید</h1>

            <p>
                شما می‌توانید با ما در تماس باشید تا در مورد هر گونه پرسش، نظر یا درخواست کمکی که درباره سوپرمارکت آنلاین Fresh Market دارید، صحبت کنید. تیم پشتیبانی ما همواره آماده پاسخگویی به شماست.
            </p>
            <div>
                <span>آدرس:</span>
                <p>خیابان اصلی، کوچه ۱۲، شهر تهران، استان تهران، ایران</p>
            </div>
            <div>
                <span>شماره تلفن:</span>
                <p>۰۹۱۲۳۴۵۶۷۸</p>
            </div>
            <div>
                <span>ایمیل:</span>
                <p>info@freshmarket.com</p>
            </div>
            <div class="mb-4">
                <span>ساعات کاری:</span>
                <p>همواره به صورت ۲۴/۷ در خدمت شما هستیم.</p>
            </div>
            <p>
                شما می‌توانید از طریق شماره تلفن فوق برای تماس با ما و ارتباط مستقیم با تیم پشتیبانی ما استفاده کنید.
ما با خوشحالی پاسخگوی هر گونه پرسش یا نیاز کاربران عزیز خود هستیم و سعی می‌کنیم به طور سریع و کارآمد به درخواست‌ها و دریافت پیام‌های شما پاسخ دهیم.
            </p>
            <p>با احترام، تیم سوپرمارکت آنلاین Fresh Market.</p>
        </div>
    </div>


{% endblock content %}