{% extends 'index.html' %}



{% block title %}
    صفحه ی اصلی
{% endblock title %}
    
{% load render_partial %}


{% block content %}


<!-- main section -->
    {% include 'partials/messages.html' %}
    <!--Body Content-->
    <div id="page-content">
            <!--Home slider-->
            <div class="slideshow slideshow-wrapper pb-section sliderFull">
                <div class="home-slideshow">
                    <div class="slide">
                        <div class="blur-up lazyload bg-size">
                            <img class="blur-up lazyload bg-img" data-src="{{media_url}}myImages/main-cover/cover3.jpg" src="{{media_url}}myImages/main-cover/cover3.jpg" alt="" title="" />
                            <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                                <div class="slideshow__text-content bottom">
                                    <div class="wrap-caption center">
                                            <h2 class="h1 mega-title slideshow__title">خوراکی های تازه و خوشمزه</h2>
                                            <span class="mega-subtitle slideshow__subtitle slider_subtitle">تنها با یک کلیک وارد دسته بندی مورد نظر شوید</span>
                                            <a href="#popular_groups"><span class="btn slider_btn">!الان خرید کن</span></a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="blur-up lazyload bg-size">
                            <img class="blur-up lazyload bg-img" data-src="{{media_url}}myImages/main-cover/cover2.jpg" src="{{media_url}}myImages/main-cover/cover2.jpg" alt="" title="" />
                            <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                                <div class="slideshow__text-content bottom">
                                    <div class="wrap-caption center">
                                        <h2 class="h1 mega-title slideshow__title">میوه های تازه</h2>
                                        <span class="mega-subtitle slideshow__subtitle slider_subtitle">تنها با یک کلیک وارد دسته بندی مورد نظر شوید</span>
                                        <a href="#popular_groups"><span class="btn slider_btn">!الان خرید کن</span></a>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="blur-up lazyload bg-size">
                            <img class="blur-up lazyload bg-img" data-src="{{media_url}}myImages/main-cover/cover5.jpg" src="{{media_url}}myImages/main-cover/cover5.jpg" alt="" title="" />
                            <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                                <div class="slideshow__text-content bottom">
                                    <div class="wrap-caption center">
                                        <h2 class="h1 mega-title slideshow__title">تمام محصولات سوپر مارکت</h2>
                                        <span class="mega-subtitle slideshow__subtitle slider_subtitle">تنها با یک کلیک وارد دسته بندی مورد نظر شوید</span>
                                        <a href="#popular_groups"><span class="btn slider_btn">!الان خرید کن</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Home slider-->
            <!--Collection Tab slider-->

            <!--Collection Tab slider-->
            

            <!-- newest product -->
            {% render_partial 'products:newest_products' %}
            <!-- End newest product -->
            
            
            
            <!-- popular group -->
            {% render_partial 'products:popular_groups' %}
            <!-- End popular group -->
            
            
            
            <!-- brands -->
            {% render_partial 'products:brands' %}
            <!-- End brands -->
            
            <!--Featured Product-->
            {% render_partial 'products:cheapest_products' %}
            
            <!--Latest Blog-->
            {% render_partial 'article:last_article' slug='a' %}
            <!--End Latest Blog-->
            
            <!--Store Feature-->
            <div class="store-feature section">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <ul class="display-table store-info">
                                <li class="display-table-cell">
                                    <i class="icon anm anm-truck-l"></i>
                                    <h5>ارسال ریگان</h5>
                                    <!-- <span class="sub-text">Free shipping on all US orders</span> -->
                                </li>
                                  <li class="display-table-cell">
                                    <i class="icon anm anm-dollar-sign-r"></i>
                                    <h5>ضمانت برگرداندن وجه</h5>
                                    <!-- <span class="sub-text">30 days money back guarantee</span> -->
                                  </li>
                                  <li class="display-table-cell">
                                    <i class="icon anm anm-comments-l"></i>
                                    <h5>پشتیبانی انلاین</h5>
                                    <!-- <span class="sub-text">We support online 24/7 on day</span> -->
                                </li>
                                  <li class="display-table-cell">
                                    <i class="icon anm anm-credit-card-front-r"></i>
                                    <h5>پرداخت ایمن</h5>
                                    <!-- <span class="sub-text">All payment are Secured and trusted.</span> -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Store Feature-->
    </div>
    <!--End Body Content-->



    <!--Scoll Top-->
    <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
    <!--End Scoll Top-->
    

    
    <!-- Newsletter Popup -->
	<div class="newsletter-wrap" id="popup-container">
      <div id="popup-window">
        <a class="btn closepopup"><i class="icon icon anm anm-times-l"></i></a>
        <!-- Modal content-->
        <div class="display-table splash-bg">
          <div class="display-table-cell width40"><img src="{{media_url}}images/newsletter-img.jpg" alt="Join Our Mailing List" title="Join Our Mailing List" /> </div>
          <div class="display-table-cell width60 text-center">
            <div class="newsletter-left">
              <h2>Join Our Mailing List</h2>
              <p>Sign Up for our exclusive email list and be the first to know about new products and special offers</p>
              <form action="#" method="post">
                <div class="input-group">
                  <input type="email" class="input-group__field newsletter__input" name="EMAIL" value="" placeholder="Email address" required="">
                      <span class="input-group__btn">
                      	<button type="submit" class="btn newsletter__submit" name="commit" id="subscribeBtn"> <span class="newsletter__submit-text--large">Subscribe</span> </button>
                      </span>
                  </div>
              </form>
              <ul class="list--inline site-footer__social-icons social-icons">
                <li><a class="social-icons__link" href="#" title="Facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                <li><a class="social-icons__link" href="#" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a class="social-icons__link" href="#" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                <li><a class="social-icons__link" href="#" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a class="social-icons__link" href="#" title="YouTube"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                <li><a class="social-icons__link" href="#" title="Vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
	<!-- End Newsletter Popup -->


<!-- End main section -->

{% endblock content %}