<!-- Remove the container if you want to extend the Footer to full width. -->

    <footer style="background-color: #eaecec;">
      <div class="container p-4">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4 text_footer_style">
            <h5 class="mb-3 text-dark">فروشگاه  Fresh Market</h5>
            <p>
                با ما به راحتی و سرعت می‌توانید انواع محصولات خواروبار و سبزیجات مورد نیاز خود را سفارش دهید و به سرعت در محل مورد نظر تحویل بگیرید. 
                ما با بهترین تامین کنندگان و کشاورزان محلی همکاری می‌کنیم تا بهترین و تازه‌ترین محصولات را برای شما فراهم کنیم.
            </p>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 link_footer_style">
            <h5 class="mb-3 text-dark">بخش های سایت</h5>
            <ul class="list-unstyled mb-0">
              <li class="mb-1">
                <a href="{% url 'accounts:user_register' %}" style="color: #4f4f4f;">ساخت حساب کاربری</a>
              </li>
              <li class="mb-1">
                <a href="{% url 'accounts:user_panel' %}" style="color: #4f4f4f;">ورود به پنل کاربری</a>
              </li>
              <li class="mb-1">
                <a href="{% url 'article:blog' %}" style="color: #4f4f4f;">مقالات</a>
              </li>
              <li>
                <a href="{% url 'main:contact_us' %}" style="color: #4f4f4f;">تماس با ما</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 schedule_footer_style">
            <h5 class="mb-1 text-dark">ساعات کاری</h5>
            <table class="table" style="border-color: #666;">
              <tbody>
                <tr>
                  <td>شنبه تا پنج شنبه:</td>
                  <td>8am - 6pm</td>
                </tr>
                <tr>
                  <td>جمعه:</td>
                  <td>8am - 3pm</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">freshmarket.ir</a>
      </div>
      <!-- Copyright -->
    </footer>
    
