
<!-- header     -->
	<!--Search Form Drawer-->
	<div class="search">
        <div class="search__form">
            <form class="search-bar__form" action="{% url 'search_app:search_view' %}">
                <button class="go-btn search__button" type="submit"><i class="icon anm anm-search-l"></i></button>
                <input class="search__input" type="search" name="q" value="" placeholder="جست جو از میان محصولات تازه ..." aria-label="Search" autocomplete="off">
            </form>
            <button type="button" class="search-trigger close-btn"><i class="anm anm-times-l"></i></button>
        </div>
    </div>
    <!--End Search Form Drawer-->
    
    <!--Top Header-->
    <div class="top-header">
        <div class="container-fluid">
            <div class="row">
            	<div class="col-10 col-sm-8 col-md-5 col-lg-4">
                    <p class="phone-no"><i class="anm anm-phone-s"></i>&nbsp;&nbsp;021-33218921</p>
              </div>
                
                <div class="col-sm-4 col-md-4 col-lg-4 d-none d-lg-none d-md-block d-lg-block">
                	<div class="text-center">

                      <span class="topheader_font pb-2">ارسالی سریع و آسان</span>
                  
                  </div>
                </div>
                
                <div class="col-2 col-sm-4 col-md-3 col-lg-4 text-right">
                	<span class="user-menu d-block d-lg-none"><i class="anm anm-user-al" aria-hidden="true"></i></span>
                    <ul class="customer-links list-inline text-left topheader_user_font">
                      
                        {% if user.is_authenticated %}
                          <li><a href="{% url 'accounts:user_logout' %}" class="text-decoration-none">خروج</a></li>
                          <li><a href="{% url 'accounts:user_panel' %}" class="text-decoration-none">پنل کاربری</a></li>
                        {% else %}
                          <li><a href="{% url 'accounts:user_login' %}" class="text-decoration-none">ورود</a></li>
                          <li><a href="{% url 'accounts:user_register' %}" class="text-decoration-none">ساخت حساب کاربری</a></li>
                        {% endif %}
                                                
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--End Top Header-->

    {% include 'partials/main/navbar_links.html' %}

<!-- End header     -->  